{# vim: filetype=ini.jinja2 #}
{{ ansible_managed | ansible.builtin.comment }}

{% for key, options in _gitea_options.items() %}
[{{ key }}]
{% for k, v in options.items() if v != omit %}
{{ k }} = {{ v }}
{% endfor %}

{% endfor %}
